import 'package:get_it/get_it.dart';

{{#hasNetwork}}
import 'package:dio/dio.dart';
import 'network/api_client.dart';
{{/hasNetwork}}
{{#hasLocalStorage}}
import 'storage/local_storage.dart';
{{/hasLocalStorage}}

{{#hasAuth}}
import '../../features/auth/data/datasources/auth_remote_datasource.dart';
import '../../features/auth/data/repositories/auth_repository_impl.dart';
import '../../features/auth/domain/repositories/auth_repository.dart';
import '../../features/auth/domain/usecases/sign_in_usecase.dart';
import '../../features/auth/domain/usecases/sign_out_usecase.dart';
{{#isBloc}}
import '../../features/auth/presentation/bloc/auth_bloc.dart';
{{/isBloc}}
{{#isProvider}}
import '../../features/auth/presentation/provider/auth_provider.dart';
{{/isProvider}}
{{/hasAuth}}

{{#features}}
import '../../features/{{slug}}/data/datasources/{{slug}}_remote_datasource.dart';
import '../../features/{{slug}}/data/repositories/{{slug}}_repository_impl.dart';
import '../../features/{{slug}}/domain/repositories/{{slug}}_repository.dart';
import '../../features/{{slug}}/domain/usecases/{{slug}}_usecase.dart';
{{#isBloc}}
import '../../features/{{slug}}/presentation/bloc/{{slug}}_bloc.dart';
{{/isBloc}}
{{#isProvider}}
import '../../features/{{slug}}/presentation/provider/{{slug}}_provider.dart';
{{/isProvider}}
{{/features}}

final getIt = GetIt.instance;

Future<void> init() async {
  // Core
  {{#hasNetwork}}
  getIt.registerLazySingleton(() => Dio());
  getIt.registerLazySingleton(() => ApiClient(getIt()));
  {{/hasNetwork}}
  {{#hasLocalStorage}}
  getIt.registerLazySingleton<LocalStorage>(() => LocalStorageImpl());
  {{/hasLocalStorage}}

  // Modules
  {{#hasAuth}}
  // Auth
  {{#isBloc}}
  getIt.registerFactory(() => AuthBloc(getIt(), getIt()));
  {{/isBloc}}
  {{#isProvider}}
  getIt.registerFactory(() => AuthProvider(getIt(), getIt()));
  {{/isProvider}}
  getIt.registerLazySingleton(() => SignInUseCase(getIt()));
  getIt.registerLazySingleton(() => SignOutUseCase(getIt()));
  getIt.registerLazySingleton<AuthRepository>(() => AuthRepositoryImpl(getIt()));
  getIt.registerLazySingleton<AuthRemoteDataSource>(() => AuthRemoteDataSourceImpl());
  {{/hasAuth}}

  {{#features}}
  // {{className}}
  {{#isBloc}}
  getIt.registerFactory(() => {{className}}Bloc(getIt()));
  {{/isBloc}}
  {{#isProvider}}
  getIt.registerFactory(() => {{className}}Provider(getIt()));
  {{/isProvider}}
  getIt.registerLazySingleton(() => {{className}}UseCase(getIt()));
  getIt.registerLazySingleton<{{className}}Repository>(() => {{className}}RepositoryImpl(getIt()));
  getIt.registerLazySingleton<{{className}}RemoteDataSource>(() => {{className}}RemoteDataSourceImpl(getIt()));
  {{/features}}
}
