class ApiEndpoints {
  // Base URLs
  static const String baseUrl = '{{apiBaseUrl}}';
  
  // Auth
  static const String login = '/auth/login';
  static const String register = '/auth/register';
  static const String refreshToken = '/auth/refresh';
  
  // Example Module
  static const String users = '/users';
  static const String profile = '/profile';
}
