import 'package:purchases_flutter/purchases_flutter.dart';
import '../../domain/entities/subscription_entity.dart';

abstract class RevenueCatDataSource {
  Future<void> init();
  Future<List<SubscriptionEntity>> getOfferings();
  Future<bool> purchasePackage(Package package);
  Future<bool> checkEntitlement();
  Future<bool> restorePurchases();
}

class RevenueCatDataSourceImpl implements RevenueCatDataSource {
  static const String _entitlementId = '{{entitlementId}}';

  @override
  Future<void> init() async {
    await Purchases.setLogLevel(LogLevel.debug);
    PurchasesConfiguration configuration = PurchasesConfiguration('{{revenueCatApiKey}}');
    await Purchases.configure(configuration);
  }

  @override
  Future<List<SubscriptionEntity>> getOfferings() async {
    try {
      final offerings = await Purchases.getOfferings();
      if (offerings.current != null && offerings.current!.availablePackages.isNotEmpty) {
        return offerings.current!.availablePackages.map((pkg) => SubscriptionEntity(
          id: pkg.identifier,
          title: pkg.storeProduct.title,
          description: pkg.storeProduct.description,
          price: pkg.storeProduct.priceString,
          rawPackage: pkg,
        )).toList();
      }
      return [];
    } catch (e) {
      return [];
    }
  }

  @override
  Future<bool> purchasePackage(Package package) async {
    try {
      final result = await Purchases.purchasePackage(package);
      return result.customerInfo.entitlements.all[_entitlementId]?.isActive == true;
    } catch (e) {
      return false;
    }
  }

  @override
  Future<bool> checkEntitlement() async {
    try {
      final customerInfo = await Purchases.getCustomerInfo();
      return customerInfo.entitlements.all[_entitlementId]?.isActive == true;
    } catch (e) {
      return false;
    }
  }

  @override
  Future<bool> restorePurchases() async {
    try {
      final customerInfo = await Purchases.restorePurchases();
      return customerInfo.entitlements.all[_entitlementId]?.isActive == true;
    } catch (e) {
      return false;
    }
  }
}
