import 'package:flutter/material.dart';
{{#hasLocalization}}
import '../l10n/app_localizations.dart';
{{/hasLocalization}}
import '../core/router/app_router.dart';
import '../core/theme/app_theme.dart';

class App extends StatelessWidget {
  const App({super.key});

  @override
  Widget build(BuildContext context) {
    return MaterialApp.router(
      title: '{{projectName}}',
      theme: AppTheme.lightTheme,
      darkTheme: AppTheme.darkTheme,
      routerConfig: appRouter,
      {{#hasLocalization}}
      localizationsDelegates: AppLocalizations.localizationsDelegates,
      supportedLocales: AppLocalizations.supportedLocales,
      {{/hasLocalization}}
    );
  }
}
