import 'package:purchases_flutter/purchases_flutter.dart';

class SubscriptionEntity {
  final String id;
  final String title;
  final String description;
  final String price;
  final Package rawPackage;

  SubscriptionEntity({
    required this.id,
    required this.title,
    required this.description,
    required this.price,
    required this.rawPackage,
  });
}
