name: Flutter CI/CD

on:
  push:
    branches:
      - main
      - master
  {{#runTestsOnPr}}
  pull_request:
    branches:
      - main
      - master
  {{/runTestsOnPr}}

jobs:
  {{#runTestsOnPr}}
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: flutter test
  {{/runTestsOnPr}}

  {{#deployToFirebaseAppDistribution}}
  deploy_firebase:
    name: Deploy to Firebase App Distribution
    runs-on: macos-latest
    {{#runTestsOnPr}}
    needs: test
    {{/runTestsOnPr}}
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Setup Fastlane
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
          bundler-cache: true
      - run: flutter pub get
      - name: Distribute iOS
        run: cd ios && fastlane ios distribute
        env:
          FIREBASE_CLI_TOKEN: ${{{{ secrets.FIREBASE_CLI_TOKEN }}}}
      - name: Distribute Android
        run: cd android && fastlane android distribute
        env:
          FIREBASE_CLI_TOKEN: ${{{{ secrets.FIREBASE_CLI_TOKEN }}}}
  {{/deployToFirebaseAppDistribution}}

  {{#deployToStores}}
  deploy_stores:
    name: Deploy to App Store & Play Store
    runs-on: macos-latest
    {{#runTestsOnPr}}
    needs: test
    {{/runTestsOnPr}}
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Setup Fastlane
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
          bundler-cache: true
      - run: flutter pub get
      - name: Deploy iOS to App Store
        run: cd ios && fastlane ios release
        env:
          APP_STORE_CONNECT_API_KEY_KEY_ID: ${{{{ secrets.ASC_KEY_ID }}}}
          APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{{{ secrets.ASC_ISSUER_ID }}}}
          APP_STORE_CONNECT_API_KEY_KEY: ${{{{ secrets.ASC_KEY }}}}
      - name: Deploy Android to Play Store
        run: cd android && fastlane android release
        env:
          PLAY_STORE_JSON_KEY_DATA: ${{{{ secrets.PLAY_STORE_JSON_KEY_DATA }}}}
  {{/deployToStores}}
