import 'package:hive_flutter/hive_flutter.dart';

abstract class LocalStorage {
  Future<void> init();
  Future<void> setString(String key, String value);
  String? getString(String key);
  Future<void> setBool(String key, bool value);
  bool? getBool(String key);
  Future<void> remove(String key);
}

class LocalStorageImpl implements LocalStorage {
  late Box _box;
  
  @override
  Future<void> init() async {
    await Hive.initFlutter();
    _box = await Hive.openBox('app_box');
  }

  @override
  Future<void> setString(String key, String value) async {
    await _box.put(key, value);
  }

  @override
  String? getString(String key) {
    return _box.get(key);
  }

  @override
  Future<void> setBool(String key, bool value) async {
    await _box.put(key, value);
  }

  @override
  bool? getBool(String key) {
    return _box.get(key);
  }

  @override
  Future<void> remove(String key) async {
    await _box.delete(key);
  }
}
