import 'package:flutter/foundation.dart';
import '../../domain/usecases/sign_in_usecase.dart';
import '../../domain/usecases/sign_out_usecase.dart';
import 'auth_state.dart';

class AuthProvider extends ChangeNotifier {
  final SignInUseCase _signInUseCase;
  final SignOutUseCase _signOutUseCase;

  AuthState _state = AuthInitial();
  AuthState get state => _state;

  AuthProvider(this._signInUseCase, this._signOutUseCase);

  Future<void> signIn(String email, String password) async {
    _state = AuthLoading();
    notifyListeners();
    try {
      final user = await _signInUseCase(SignInParams(email: email, password: password));
      _state = Authenticated(user);
    } catch (e) {
      _state = AuthError(e.toString());
    }
    notifyListeners();
  }

  Future<void> signOut() async {
    _state = AuthLoading();
    notifyListeners();
    try {
      await _signOutUseCase();
      _state = Unauthenticated();
    } catch (e) {
      _state = AuthError(e.toString());
    }
    notifyListeners();
  }
}
